:root
{
    --bgcolor: #202020;
    --fontcolor: white;
    --coffered: rgb(155, 0, 0);
    --coffedarkred: rgb(130, 0, 0);
    --hovercolor: white;
}

*
{
    margin: 0;
    padding: 0;
   
}

body
{
    background-color: var(--bgcolor);
}

nav
{
    background-color: var(--coffered);
    z-index: 99999;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    box-shadow: 0px 1px 30px 5px;
    
    
}

.navDiv
{
    padding: 1rem 0 1rem 0;
    display: inline-flex;
    justify-content: center;
    margin: auto;
}

#navImg
{
    width: 14rem;
    aspect-ratio: 970, 261;
}


#navList
{
    display: flex;
    list-style: none;
    gap: clamp(0.5rem, 1vw, 1rem);
    
}

#navList a
{
    font-size: clamp(.60rem, 1.5vw, 1rem);
    text-decoration: none;
    font-family: 'Amontesa';
    color: var(--fontcolor);
}

#navList a:hover
{
    color: var(--hovercolor);
    border-block: 5px solid var(--hovercolor);
    border-radius: 10%;
    transition: 200ms ease-in;
    
}


#sideNav
{
    display: flex;
    gap: clamp(1rem, 2vw, 2rem);
    padding: .5rem;
}

#sideNav a
{
    color: var(--fontcolor);
    font-size: clamp(1.5rem, 2vw, 2rem);
}

#sideNav a:hover
{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#facebook:hover
{
    background: #4267B2;
}

#instagram:hover
{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

#hamburger
{
    display: none;
}

.container
{
    height: 100vh;
}

#fooldal
{
    width: 100%;
    height: 100vh;
    background-image:
    url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#udvozles
{
    animation: 3s fadeIn;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: var(--fontcolor);
    
}

#udvozles h1
{
    font-family: 'RULES';
    font-size: clamp(2rem, 9vw, 5rem);
}

#udvozles span img
{
    
    width: clamp(20rem, 50vw, 40rem);
}

#udvozles p
{
    font-family: 'LemonTuesday';
    font-size: clamp(1rem, 5vw, 2rem);
}


















@media (max-width: 800px) {
    nav
    {
        flex-direction: column;        
    }

    .navDiv:nth-child(3),
    .navDiv:nth-child(4)
    {
        display: none;
    }

    .navDiv.active:nth-child(3),
    .navDiv.active:nth-child(4)
    {
        display: block;
        transition: ease-in;
        padding: 1rem 0 1rem 0;
    }

    #hamburger{
        display: block;
        position: absolute;
        width: 35px;
        right: 1.5rem;
        top: 1.5rem;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
    }
    
    #hamburger span
    {
        border-top: .2rem solid var(--fontcolor);;
        width: 100%;
    }

   
    #hamburger span:nth-child(1)
    {
        transform: translateY(-400%);
        position: absolute;
        transition: 200ms ease-in;
    }
    
    #hamburger span:nth-child(2)
    {
        position: absolute;
        transition: 200ms ease-in;
    }
    
    #hamburger span:nth-child(3)
    {
        position: absolute;
        transition: 200ms ease-in;
    }
    
    
    #hamburger span:nth-child(4)
    {
        
        transform: translateY(400%);
        transition: 200ms ease-in;
    }

    #hamburger.active span:nth-child(1)
    {
        scale: 0;
        position: absolute;
        transition: 200ms ease-out;
    }
    
    #hamburger.active span:nth-child(2)
    {
        transform: rotate(-45deg);
        transition: 200ms ease-out;
    }
    
    #hamburger.active span:nth-child(3)
    {

        transform: rotate(45deg);
        position: absolute;
        transition: 200ms ease-out;
    }

    #hamburger.active span:nth-child(4)
    {

        scale: 0;
        position: absolute;
        transition: 200ms ease-out;
    }    

}